html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #636363;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr;
}

main {
    grid-area: main;
}


footer {
    background-color: #dfdddd;
    grid-area: footer;
}


img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #3f3f3f;
    text-decoration: underline ;
}
a:visited {
    color: #979696;
    text-decoration: underline ;
}

a:hover {
    color: #131313;
    text-decoration: underline ;
}

a:active {
    color: #131313;
    text-decoration: dashed underline;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}
p {text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}
div {text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 30%;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.solution-title{
    font-weight: 700;
    width: 100%;
    display: none;
}

.solution-table{
    display: table;
}
.solution-text {
    max-width: 300px;
    border: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    min-width: none;
    display: none;
}

.fbnavigator{
    display: none;
    min-width: 0;
    vertical-align: middle;
    width: fit-content;
}

.fbnavigator a {
    color: #979696;
    text-decoration: none;
}

.fbnavigator a:hover {
    text-decoration: none;
}

.solution-navigate a:active {
    text-decoration: none;
}


.solution-text-row {
    display: table-row-group;    
}

.solution-text-label {
    display: table-cell;
    width:20%;
    min-width: 20px;
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
}

.solution-text-data {
    width: 20%;
    min-width: 20px;
    display: table-cell;
    text-align: left;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-daisy {
    animation: spin 2s linear infinite;
}

.input{
    width: 100%;
    max-width: 300px;
    display: table;
}

.anagram-input {
    display: table-row;
    width: 100%;
}

.anagram-input-label, .anagram-input-control{
    display: table-cell;
}

.anagram-input-control {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-stretch: extra-expanded;

}

.anagram-input-label {
    text-align: right;
    padding-right: 10px;
    width: 1%;
    white-space: nowrap;
}

.fbnavagator {
    display: table-cell;
    vertical-align: middle;
}


